# Python Operators

Operators are special symbols in Python which are used to perform operations on variables/values.

## Arithmetic Operators

In [ ]:
a=5
b=2
x='Data' 
y ='Science'

In [ ]:
#  Addition
c = a + b
print(c)

In [ ]:
#Concatenate string using plus operator
z = x + y
print(z)

In [ ]:
# Subtraction
c = b - c
print(c)

In [ ]:
# Multiplication
c = a * b
print(c)

In [ ]:
# Power
c = a ** b
print(c)

In [ ]:
# Division
c = a / b
print(c)

In [ ]:
# Modulo of both number
c = a % b
print(c)

In [ ]:
# Division(floor)
c = a // b
print(c)

## Comparison Operators

In [ ]:
x  = 20
y  = 30

print('Is  x  greater  than  y  :-  ',x>y) 
print('Is  x  less  than    y  :-  ',x<y) 
print('Is  x  equal  to    y  :-  ',x==y)
print('Is  x  not  equal  to  y  :-  ',x!=y)
print('Is  x  greater  than  or  equal  to  y  :-  ',x>=y)
print('Is  x  less  than  or  equal  to  y  :-  ',x<=y)

In [ ]:
a = 'Data' 
b = 'Science' 
c = 'Data'

In [ ]:
a == b

In [ ]:
a ==c

In [ ]:
a != b # Comparison operators on string

## Logical Operators

In [ ]:
x = True
y = False

print('Logical  AND  operation  :-  ',x  and  y)  #  True  if  both  values  are  true
print('Logical  OR  operation  :-  ',x  or  y)  #  True  if  either  of  the  values  is  true
print('NOT  operation  :-  ',not  y  )  #  True  if  operand  is  false

# If  conditional statement

* A Python if statement evaluates whether a condition is equal to true or false. 
* The statement will execute a block of code if a specified condition is equal to true. Otherwise, the block of code within the if statement is not executed

* Indentation refers to the spaces at the beginning of a 
code line. It is very important as Python uses indentation
to indicate a block of code.

In [ ]:
a=8
if a>6:
    print('We started to work on conditional statements')

In [ ]:
a=7
if a==3:
    print('Condition is true')

In [ ]:
x=5
if x==5: # If condition is false
    print('The if condition is true')
else:
    print('Else condition got executed')

In [ ]:
x=-23
if x>0:
    print('i am in if block')
else:
    print('i am not')

In [ ]:
if(5>4):
    print('5 is big')
    print('i am in if block')
print('i am out of if block')

In [ ]:
# if ... else

x = 0

if x>0:
    print("X is positive")
    print("i am in IF block")
else:
    print("X is Negative")
    print('i am in else block')
    
print("i am  out of IF block")

In [ ]:
x=11
if(x>10):
    print('i am in if block')
elif(x==6):   
# elif will help in checking more than 1 if condition
    print('i am in elif block')
elif(x==0):
    print('Zero number')
else:
    print('i am in else block')

In [ ]:


num = int(input())

In [ ]:
print(num)

print(type(num))

In [ ]:
# if... elif ... else
x =int(input('enter the number'))

if x>0:
    print("X is positive")
elif x<0:
    print("X is Negative")
    print('i am in elif block')
else:
    print("X is Zero")
    print('i am in else block')

print('outside of the loop')

In [ ]:
## Nesting
x=5
if(x>=3):
    print('i am in 1st if')
    if(x>2):
        print('i am in 2nd if')
        if(x==4):
            print('i am in 3rd if ')

In [ ]:
i=4
if(i>0):
    print('first loop')
    if(i<=5):
        print('second loop')
        print('number is in primary range')
        if(i>5): #False
            print('mid range')
        else:
            print('end of the loop')
else:
    print('number is negative')

print('out of the nested loop')

In [ ]:
i = 10
if (i == 10):
   
    #  First if statement
    if (i < 15):
        print("i is smaller than 15")
         
    # Nested - if statement
    # Will only be executed if statement above
    # it is true
    if (i < 12):
        print("i is smaller than 12 too")
    else:
        print("i is greater than 15")

In [ ]:
x = int(input())
if x < 10: # True
  print("Yes it is correct")

if x < 2:
  print("number is very small less than 2")

# Input function

In [ ]:
a=input('Enter your name:')

In [ ]:
print(a)

In [ ]:
a # input takes values as string by default

In [ ]:
c=float(input('Enter your age:'))

In [ ]:
c

# Packages

Packages are software which holds certain functionalities to work on. In Python, we have many builtin packages which we will be using.

Packages contains moduled and submodules.

Each and every module and submodule can be used independently by using certain keywords.

So lets assume we require a software with 4 functionalities A, B, C, and D. In order to build the software, you need to break it down into logical smaller parts. So lets say A and C are have similar types of functionality  and B and D takes similar type of functionality - we can group them under same module.

Modules and submodules provide very efficient way of writing code. If you want to make changes in A, you need not disturb any of the other modules.

Modules also provide code reusabilty. If we want to develop new software which uses only A and D, such functionality is allowed by the library.

# Datetime package

In Python, date and time are not a data type of their own, but a module named datetime can be imported to work with the date as well as time. Python Datetime module comes built into Python, so there is no need to install it externally.

1)date – An idealized naive date, assuming the current Gregorian calendar always was, and always will be, in effect. Its attributes are year, month and day.


2)time – An idealized time, independent of any particular day, assuming that every day has exactly 24*60*60 seconds. Its attributes are hour, minute, second, microsecond

3)datetime – Its a combination of date and time along with the attributes year, month, day, hour, minute, second, microsecond

4)timedelta – A duration expressing the difference between two date, time, or datetime instances to microsecond resolution.

In [ ]:
from datetime import date

In [ ]:
my_date = date(1996, 9, 13) ## Simple date creation

In [ ]:
my_date

In [ ]:
# Getting today's date
today1 = date.today()
 
print("Today's date is", today1)

In [ ]:
today1.isoweekday()

In [ ]:
# Get Today’s Year, Month, and Date

print("Current year:", today1.year)
print("Current month:", today1.month)
print("Current day:", today1.day)

In [ ]:
# Get date from datetime sub module
from datetime import datetime  as dt

In [ ]:
date1=dt.now()

In [ ]:
date1

In [ ]:
dt.date(date1)

In [ ]:
date1.day

In [ ]:
date1.hour

In [ ]:
date1.isoweekday()

In [ ]:
date1.month

In [ ]:
# Time submodule

from datetime import time

In [ ]:
my_time = time(7,8,45)
 
print("Entered time", my_time)

In [ ]:
# Timedelta function demonstration
 
from datetime import date, timedelta

current_date = date.today()

# Calculating future dates
# for 730 days
future_date_after_2yrs = current_date + timedelta(days=730)
future_date_after_2yrs

In [ ]:
## Task:-Calculate your age after 5000 days.
##The output should be in years

# Data Structures of Python

In [ ]:
a=23,24

In [ ]:
a+2

## List

1)	List is a sequence of items.
2)	We can have different data types under a list. 
E.g we can have integer, float and string items in a same list.

In [ ]:
# List creation

l1=[] # Empty list

In [ ]:
type(l1)

In [ ]:
l2=list([1,2,3,4]) # List of integer
l2

In [ ]:
type(l2)

In [ ]:
l3=[12.3,34.5,56.23,5.3]  # List of float

In [ ]:
l4=['ABC','PQR','RES']  # List of strings

In [ ]:
l5=['Data',25,[50,100],[150,90]] 
#  Nested  Lists i.e list inside list

In [ ]:
l6=[100,  'Data',  17.765] #  List  of  mixed  data  types

In [ ]:
len(l2) # Number of elements in list

## List Indexing and  Slicing

In [ ]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' ,
          'seven' , 'eight']

In [ ]:
mylist[6]

In [ ]:
mylist[0:3]  #  Return  all  items  from  0th  to  3rd  index  location  excluding  the  item at upper limit

In [ ]:
mylist[0:7:3]

## Add , Remove & Change Items

In [ ]:
mylist

In [ ]:
mylist.append('nine')  
#  Add  an  item  to  the  end  of  the  list
mylist

In [ ]:
mylist.append(2)

In [ ]:
mylist

In [ ]:
mylist.insert(3,'ten')  
#  Add  item  at  index  location  3
mylist

In [ ]:
mylist.extend([1,2,3])  
#Add multiple elements at a time at end of list
mylist

In [ ]:
mylist.pop()  # Remove last  element from list

In [ ]:
mylist.pop(8)  #  Remove  item  at  index  location  8
mylist

In [ ]:
mylist.remove('one')  #  Remove  item  "ONE" (value)
mylist

In [ ]:
del  mylist[7]  #  Remove  item  at  index  location  7
mylist

In [ ]:
mylist.clear()# Empty List / Delete all items in the list
mylist

In [ ]:
del mylist # Delete entire list

In [ ]:
mylist

## Join Lists

In [ ]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [ ]:
list3 = list1 + list2 # Join two lists by '+' operator
list3

In [ ]:
list2.extend(list1) #Append list2 with list1
list2

## List Membership

In [ ]:
## 'in' is membership operator and will check if given element is present
## in sequence.

In [ ]:
list1

In [ ]:
'one' in list1 # Check if 'one' exist in the list

In [ ]:
10 in list1 # Check if 'ten' exist in the list

## Reverse & Sort List

In [ ]:
list1 = [5,7,2,9,1,0,42] # reverse order

In [ ]:
list1.reverse() # Reverse the list
list1

In [ ]:
list1[::-1]  #  Reverse  the  list

In [ ]:
list1

In [ ]:
list1.sort()

In [ ]:
list1

In [ ]:
lsit4=[1,2,'A',4]

In [ ]:
lsit4.sort()

In [ ]:
lsit4

In [ ]:
list1.sort()

In [ ]:
list1

In [ ]:
mylist3  =  [9,5,2,99,12,88,34]
mylist3.sort()	# Sort list in ascending order
mylist3

In [ ]:
mylist3  =  [9,5,2,99,12,88,34]
mylist3.sort(reverse=True)	#  Sort  list  in  descending  order
mylist3

In [ ]:
list4=[1,2,3,'cat','dog','egg']

In [ ]:
list4.sort()

## All / Any

The all() method returns:

True - If all elements in a list are true
False - If any element in a list is false

The any() function returns True if any element in the list is True. 
If not, any() returns False.

In [ ]:
L1  =  [1,2,3,4,6]

In [ ]:
L3=[1,2,3,4,0]

In [ ]:
all(L3) # Will Return false as one value is false (Value 0)

In [ ]:
any(L1)	# Will Return True as we have items in the list with 
#True value

In [ ]:
L2  =  ["a", "c", "d"]

print(any(L2))

print(all(L2))

In [ ]:
all(L2) # Returns false as one value is false

In [ ]:
any(L2)	# Will Return True as we have items in the list with True 
#value

# Tuples

1.	Tuple is similar to List except that the objects in tuple are immutable - we cannot change the elements of a tuple once assigned.
2.	When we do not want to change the data over time, tuple is a preferred data type.
3.	Iterating over the elements of a tuple is faster compared to iterating over a list.

# Tuple Creation

In [ ]:
tup1 = ()	# Empty tuple

In [ ]:
type(tup1)

In [ ]:
tup2  =  (10,30,60)	#  tuple  of  integers  numbers

In [ ]:
tup3 = (10.77,30.66,60.89)	# tuple of float numbers

In [ ]:
tup4 =  ('one','two' , "three")	# tuple of strings

In [ ]:
tup5  =  ('Data',  25  ,(50,  100),(150,  90))	#  Nested  tuples

In [ ]:
tup6  =  (100,  'Data',  17.765)	#  Tuple  of  mixed  data  types

In [ ]:
tup7  =  ('Data',  25  ,[50,  100],[150,  90]  ,  {'John'  ,  'David'}  , 
          (99,22,33))

In [ ]:
len(tup7) #Length of tuple

## Tuple Indexing

In [ ]:
tup2[1]

In [ ]:
tup2 = (5,8,'apple', 10, True)

In [ ]:
tup2[0:3]  #  Retreive  first  element  of  the  tuple

In [ ]:
tup7

In [ ]:
tup8=('Data', 25, [50, 100], [150, 90], ['David', 'John'], (99, 22, 33))

In [ ]:
tup8[4][1]

In [ ]:
tup8[5][2]

## Tuple Slicing

In [ ]:
mytuple = ('one' , 'two' , 'three' , 
           'four' , 'five' , 'six' , 'seven' , 'eight')

In [ ]:
mytuple[0:3]  #  Return  all  items  from  0th  to 
#3rd  index  location  excluding  the  upper limit

## Remove & Change Items

In [ ]:
del  mytuple[0] 
#  Tuples  are  immutable  which  means  we  can't  DELETE  tuple  items

In [ ]:
mytuple[0]  =  1  
#  Tuples  are  immutable  which  means  we  can't  CHANGE  tuple  items

In [ ]:
del mytuple 
# Deleting entire tuple object is possible

In [ ]:
mytuple

In [ ]:
tup7

## Count

In [ ]:
mytuple1  =('one',  'two',  'three',  'four',  'one', 
            'one',  'two',  'three')

In [ ]:
mytuple1.count('one') # Number of times item "one" 
# occurred in the tuple.

In [ ]:
mytuple1.index('two') ## it will give first index location

## Tuple Membership

In [ ]:
'80' not in mytuple1 # Check if 'one' exist in the tuple

## Sorting

In [ ]:
mytuple2  =  (43,67,99,12,6,90,67)

In [ ]:
sorted(mytuple2)	# Returns a new sorted list and doesn't change original tuple

In [ ]:
sorted(mytuple2, reverse=True) # Sort in descending order

In [ ]:
mytuple2

# Sets

1)	Unordered & Unindexed collection of items.

2)	Set elements are unique. Duplicate elements are not allowed.

## Set Creation

In [ ]:
myset1={} # Empty set cannot be created by curly braces

In [ ]:
type(myset1)

In [ ]:
myset = set() # Create an empty set
print(type(myset))

In [ ]:
myset  =  {1,2,3,4,5}  #  Set  of  numbers
myset

In [ ]:
type(myset)

In [ ]:
len(myset) #Length or number of elements of the set

In [ ]:
my_set  =  {1,1,2,2,3,4,5,5}
my_set	# Duplicate elements are not allowed.

In [ ]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

In [ ]:
myset2 = {'Data' , 'John' , 'Tyrion','John'} # Set of Strings
myset2

In [ ]:
myset3  =  {10,20,  "Hola",  (11,  22,  32)}  #  Mixed  datatypes
myset3

## Set Membership

In [ ]:
myset = {'one', 'two', 'three', 'four', 'five', 'six',
         'seven', 'eight'}

In [ ]:
myset

In [ ]:
'nine' in myset # Check if 'one' exist in the set

## Add & Remove Items

In [ ]:
myset={2,3,4}

In [ ]:
myset.add('9')  #  Add  item  to  a  set  using  add()  method
myset
# check with bool and float
# bool data is not inserted

In [ ]:
myset[1] ## Indexing not supported in sets

In [ ]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE'])	# Add multiple item to a set using
myset

In [ ]:
myset.remove('TEN')  #  remove  item  in  a  set  using  remove()  method
myset

In [ ]:
myset.discard('three') # remove item from a set using discard() method
myset

In [ ]:
myset.clear() # Delete all items in a set
myset

In [ ]:
del myset # Delete the set object

In [ ]:
myset

## Set Operation

In [ ]:
A  =  {1,2,3,4,5}
B  =  {4,5,6,7,8}
C  =  {8,9,10}

In [ ]:
A.union(B)  #  Union  of  A  and  B

In [ ]:
B.union(A)

In [ ]:
A.union(B,  C)	#  Union  of  A,  B  and  C.

In [ ]:
A  =  {1,2,3,4,5}
B  =  {4,5,6,7,8}

In [ ]:
A.intersection(B)  #Intersection  of  A  and  B

In [ ]:
A.difference(B)  #  Difference  of set. set of elements that are only in A but not in B

In [ ]:
B.difference(A) #  set  of  elements  that  are  only  in  B  but  not  in  A

# Dictionary

Dictionary is a mutable data type in Python.
A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}.
Keys must be unique in a dictionary, duplicate values are allowed

## Create Dictionary

In [ ]:
mydict = dict() # empty dictionary
mydict

In [ ]:
type(mydict)

In [ ]:
mydict  =  {1:'one'  ,  2:'two'  ,  3:'three'}  #  
#dictionary  with  integer  keys
mydict

In [ ]:
mydict  =  dict({1:'one'  ,  2:'two'  ,  3:'three'})  #  Create  dictionary  using  dict()
mydict

In [ ]:
mydict.keys() # Return Dictionary Keys using
# keys() method

In [ ]:
mydict.values() # Return Dictionary Values using 
#values() method

In [ ]:
mydict.items() # Access each key-value pair within a dictionary

In [ ]:
mydict  =  {1:'one'  ,  2:'two'  ,
            'A':['Data'  ,  'john'  ,  'Maria']} 
#  dictionary  with one value as list
mydict

In [ ]:
mydict['A'][1]

In [ ]:
mydict['A'][1]

In [ ]:
d={0:{'one':1,'two':2,'three':3,'four':4},
   1:{'city':'bangalore','area':'kudlu'},
   'three':{'city':'mumbai','area':'Dharavi'}} # nested dictonar

In [ ]:
d[1]['area']

In [ ]:
## Access the value kudlu, mumbai

In [ ]:
v=[0,1,2,3,[8,{5:[67,89,90,{'area':'kudlu','city':'bangalore'}]}]]

## get bangalore

In [ ]:
v[4][1][5][3]['city']

## Add, Remove & Change Items

In [ ]:
mydict1 = {'Name':'Data' , 'ID': 12345 , 'DOB': 1991 ,
           'Address' : 'Hilsinki'} 
mydict1

In [ ]:
mydict1.update({'key':'value1'})

In [ ]:
mydict1

In [ ]:
mydict1['DOB'] = 1992	# Changing Dictionary Items

mydict1

In [ ]:
mydict1['ABC']=1

In [ ]:
mydict1

In [ ]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary
mydict1

In [ ]:
mydict1.pop('Job')  #  Removing  items  in  the  dictionary  using  Pop  method
mydict1

In [ ]:
mydict1.popitem() # A random item is removed

In [ ]:
mydict1

In [ ]:
del[mydict1['ID']] # Removing item using del method
mydict1

In [ ]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

In [ ]:
del mydict1 # Delete the dictionary object
mydict1

In [ ]:
''''''''''''